<h1>Om produkten ...</h1>

<h2>ICA-supplier</h2>
<p>
	Webbapplikationen ICA-supplier är utvecklad av Jonas Erlandsson för David Svensson och Martin Brantgärde (uppdragsgivarna).<br />
	Applikationen är en proof-of-concept uppgift i samband med en eventuell anställning och har ingen koppling till ICA sverige AB.<br />
	Delar av ICA.se's hemsida har kopierats av Jonas för att skapa en produkt som följer en befintlig stilmall, beslutet att göra så var självständigt och ingick inte i uppgiftsbeskrivningen från uppdragsgivarna.<br />
	Applikationen kommer bara att finnas tillgänglig här (heroku.com) en kort tid för att uppdragsgivarna skall kunna utvärdera arbetet. Så snart utvärderingen är färdig så kommer applikationen att tas ner från Heroku och i och med det vara permanent offline.<br />
	Vänligen kontakta Jonas Erlandsson på more[dot]room[at]gmail[dot]com med eventuella frågor rörande detta. 
</p>

<h2>Versioner</h2>
<p>
	Ruby version : 1.9.2 (x86_64-linux)<br />
	RubyGems version : 1.8.11<br />
	Rack version : 1.3<br />
	Rails version : 3.1.3<br />
	Heroku version : heroku-gem/2.14.0<br />
	JavaScript Runtime : therubyracer (V8)
</p>
<h2>Resurser</h2>
<h3>Javascript</h3>
<p>
	jQuery 1.7.1<br />
	Google API loader 1.0<br />
	Google maps 3.6
</p>
<h3>Bilder</h3>
<p>
	Design element -> ICA.se (utan tillstånd)<br />
	Map markers -> http://mapicons.nicolasmollet.com/
</p>
<h3>CSS</h3>
<p>
	Delar -> ICA.se (utan tillstånd)
</p>
