<h1 class="aligned">Lägger till leverantör</h1>

<% content_for :navigation do %>
  <%= link_to 'Tillbaka till översikt', suppliers_path %>
<% end %>

<% @submit_text = "Skapa leverantör" %>

<%= render 'form' %>